PORT=5000
NODE_ENV=development

# Database
DATABASE_URL=postgresql://neondb_owner:npg_2rOwqMfc1Ipy@ep-dawn-thunder-anqdq7sr-pooler.c-6.us-east-1.aws.neon.tech/neondb?sslmode=verify-full

# Razorpay
RAZORPAY_KEY_ID="rzp_test_RfMMo2ojR2ItiW"
RAZORPAY_KEY_SECRET="lVO33r15GL7bZyt92KjSvO41"

# Frontend URL
FRONTEND_URL=http://localhost:3000

# Cloudinary
CLOUDINARY_CLOUD_NAME=dg5yndupo
CLOUDINARY_API_KEY=629143181548417
CLOUDINARY_API_SECRET=chJy9d2ftfOOKVtsYHo-GVIfIXA
